@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;border: 0;padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

/* body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-dificult{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-dificult select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}
.select-dificult #qtdPerguntas{
  width: 10%;
  border-radius: 4px;
}
